:root {
  --primary-cyan: hsl(193, 38%, 86%);
  --primary-green: hsl(150, 100%, 66%);

  --accent-grayish-blue-400: hsl(217, 19%, 38%);
  --accent-grayish-blue-600: hsl(217, 19%, 24%);
  --accent-dark-blue: hsl(218, 23%, 16%);
}
